/* CSS Document */




/* ==== Scroll down to find where to put your styles :) ==== */

/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a { text-decoration: none; }
a:hover, a:active { text-decoration: underline; outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

/*
    // ========================================== \\
   ||                                              ||
   ||               Your styles !                  ||
   ||                                              ||
    \\ ========================================== //
*/

label{
	font-size: 11px;
	color: #999;
}

body{
	background-image:url(../images/bg.jpg);
}	

td, th{
	padding: 9px;
}

#container-page{
	width: 914px;
	margin: 0 auto;
}

#container-page > header{
	margin: 5px 0 0;
	height: 61px;
}

#header-left{
	width: 16px;
	height: 61px;
	float: left;
	background-image:url(../images/header_left.png);
	background-repeat: no-repeat;
}
#header-right{
	width: 16px;
	height: 61px;
	float: left;
	background-image:url(../images/header_right.png);
	background-repeat: no-repeat;
}
#header-center{
	width: 882px;
	height: 61px;
	float: left;
	background-image:url(../images/header_bg.png);
	background-repeat: repeat-x;
}
#header-logo{
	margin: 25px 0 0 13px;
	float: left;
	width: 300px;
}


#block-system-user-menu{
	position: relative;
	left: 390px;
	margin: 8px 0 0 0;
}
#user_menu_left{
	width: 6px;
	float: left;
	background-image:url(../images/login_tab_left.png);
	background-repeat: no-repeat;
	height: 26px;
}
#user_menu_right{
	width: 6px;
	float: left;
	background-image:url(../images/login_tab_right.png);
	background-repeat: no-repeat;
	height: 26px;
}
#block-system-user-menu ul{
	background-image:url(../images/login_tab_bg.png);
	background-repeat: repeat-x;
	margin: 0;
	width: 150px;
	text-align: center;
	float: left;
	padding: 4px 0 0 0;
	height: 22px;
}
#block-system-user-menu ul li{
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}
#block-system-user-menu ul li.last{
	border-left: 1px solid #ccc;
	padding-left: 5px;
}


#block-user-login{
	float: right;
	width: 260px;
	height: 70px;
	overflow: hidden;
	padding: 0;
}
#block-user-login .form-item-name, #block-user-login .form-item-pass{
	width: 100px;
	float: left;
}
#block-user-login .form-item-name input, #block-user-login .form-item-pass input{
	width: 86px;
	border: 1px solid #ccc;
	font-size: 11px;
	height: 13px;
	color: #888;
	padding: 2px;
	background-color: #f5f5f5;
}

#register_link{
	float: left;
	width: 60px;
	margin: 6px 0 0 0;
}
#block-user-login #edit-actions{
	float: left;
	width: 60px;
	margin: 26px 0 0;
}

#user-login-form #edit-actions input{
	width: 55px;
	border: 1px solid #ccc;
	font-size: 11px;
	height: 19px;
	color: #888;
	padding: 1px;
	background-color: #f5f5f5;
}

.form-required{
	font-size: 11px;
	color: #F96;
}

#main-wrapper{
	padding: 0 7px;
	background-image:url(../images/content_bg.png);
	background-repeat:repeat-y;
}


#header-menu-area{
	height: 173px;
	background-image:url(../images/header_image.jpg);
	background-repeat: no-repeat;
}

#block-views-top-menu-top-menu{
	background-image:url(../images/top-border-pixel.gif);
	background-repeat:repeat-x;
	float:left;
    width:100%;
    line-height:normal;
}

#block-views-top-menu-top-menu ul{
	margin:0;
    padding:0 0 0 21px;
    list-style:none;
}

#block-views-top-menu-top-menu li{
	float:left;
	background:url("../images/top_navigation_right.png")
      no-repeat right top;
    margin:0 15px 0 0;
    padding:0;
}

#block-views-top-menu-top-menu a{
	display: block;
	background:url("../images/top_navigation_left.png")
      no-repeat left top;
    padding:5px 15px 12px;
	font-size: 14px;
	color: #231F20;
}

.top-menu-item-bullet{
	float: left;
	width: 4px;
	height: 4px;
	background-color: #B3B3B3;
	margin: 4px 4px 0 0;
}
.active .top-menu-item-bullet{
	background-color: #1B1464;
}

#block-views-top-menu-top-menu a.active{
	background:url("../images/top_navigation_left_active.png")
      no-repeat left top;
	 color: #F9AE3B;
	 font-weight: bold;
}

#block-views-top-menu-top-menu li.active{
	background:url("../images/top_navigation_right_active.png")
      no-repeat right top;
}

#block-search-form{
	width: 138px;
	float: right;
	margin: 120px 22px 0 0;
}
#edit-search-block-form--2{
	width: 113px;
	height: 12px;
	border: 1px solid #BDBCBC;
	color: #848282;
	font-size: 11px;
	padding: 1px 0 0 2px;
	float:left;
	margin: 2px 0 0;
}
#block-search-form .form-submit{
	margin: 0 0 0 3px;
	padding: 0;
	width: 11px;
	height: 12px;
	border: none;
}
#block-search-form .content #edit-actions{
	margin: 0;
	padding: 0;
	width: 11px;
	height: 12px;
}

#header-breadcrumb-area{
	background-image:url(../images/header_image_bottom.jpg);
	background-repeat: no-repeat;
	height: 30px;
}

.breadcrumb{
	margin: 0 0 0 30px;
	padding: 4px 0 0 10px;
	background-image: url(../images/breadcrumb_home_bullet.gif);
	background-repeat: no-repeat;
	background-position: 0px 9px;
}
.breadcrumb-delimiter{
	color: #F37C00;
}
.breadcrumb a{
	color: #4D4D4D;
	font-size: 12px;
	font-weight: bold;
}
#left-navigation{
	float: left;
	width: 240px;
	padding: 20px 0 0 20px;
}
#node-content{
	float: left;
	width: 600px;
	margin-bottom: 25px;
}

#block-system-main > .content > p{
	display: none;
}
.taxonomy-term .content{
	border-top: 1px solid #B1B1B1;
	padding: 20px 0 0 0;
}
#page-title{
	width: 290px;
	margin: 10px 0 0 0;
	color: #F9AE3B;
	font-size: 21px;
	font-weight: bold;
	padding: 14px 0;
}
#addthis{
	width: 160px;
	float: right;
	border-top: 1px solid #B1B1B1;
	margin: -70px 0 0 0;
	padding-top: 15px;
}
#addthis div{
	text-align: right;
}

#kyphc-left-nav{
	padding: 0;
	list-style: none;
	border-left: 1px solid #808080;
	background-image:url(../images/left_nav_line.gif);
	background-repeat: no-repeat;
	margin: 20px 60px 0 0;
}
#kyphc-left-nav li{
	padding: 10px 0;
	background-image:url(../images/left_nav_line.gif);
	background-position:bottom left;
	background-repeat: no-repeat;
}
#kyphc-left-nav li a{
	display: block;
	padding: 10px 0 10px 20px;
	border-left: 4px solid #f2f2f2;
	font-size: 12px;
	color: #666;
}
#kyphc-left-nav li a.active{
	border-left: 4px solid #EF5A24;
	color: #4D4D4D;
}

#block-menu-menu-edit-content{
	margin: 100px 0 0 20px;
	padding-bottom: 10px;
}

.taxonomy-term .field-name-field-image{
	width: 167px;
	float: left;
	margin: 7px 0 0;
}
.field-name-field-image image{
	border: 1px solid #B1B1B1;
}
.taxonomy-term-description, .taxonomy-term .field-name-field-attachments{
	width: 406px;
	margin-left: 190px;
}
.taxonomy-term-description{
	border-bottom: 1px solid #B1B1B1;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

#content-bottom-bg{
	width: 914px;
	height: 21px;
	margin: 0 auto;
	background-image:url(../images/content_bottom_bg.png);
	background-repeat: no-repeat;
}


#front-page-content{
	margin: 10px 0 0 27px;
}

#front-page-content .view-content{
	width: 410px;
	float: left;
	margin: 0;
}
#front-page-content .attachment .view-content{
	width: 450px;
}
#front-page-content .view-content .views-field-field-image{
	width: 166px;
	float: left;
}

#front-page-content .views-row{
	margin-top: 10px;
}
#front-page-content .views-row .views-field-title{
	width: 130px;
	border-top: 1px solid #808080;
	color: #F5911E;
	font-size: 16px;
}
#front-page-content .views-row .views-field-title .title-top-decorator{
	width: 42px;
	height: 4px;
	background-color: #EF5A24;
	margin: 0 0 5px 0;
}

#front-page-content .views-row .views-field-field-link-to{
	margin: -15px 0 5px 149px;
}
#front-page-content .views-row .views-field-field-link-to a{
	color: #B1B1B1;
}
#front-page-content .views-row .views-field-field-link-to a:hover{
	color: #aaa;
}

#front-page-content .views-field-field-image img{
	border: 1px solid #F3A83B;
}

#front-page-content .attachment{
	width: 400px;
	float: left;
}




#front-page-content .attachment .views-row{
	width: 181px;
	float: left;
	height: 220px;
	margin: 10px 0 0 40px; 
}



.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}



